h1 {
    text-align: center;
}

.start {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 400px;
}

#question-body { 
    display: none;}

#highScores {
    display: none;
}

.replay {
    display: none;
}

.resetHighest {
    display: none;
}

.btn-secondary {
    text-align: left;
}

#question {
    text-align: left;
}

.btn-secondary { 
    background-color: white;
    color: black;

}
/* .btn-secondary:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
  } */
