h1 {
    text-align: center;
}

.start {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.card {
    width: 600px;
    height: 400px;

}

#question-body { 
    display: none;}

#highScores {
    display: none;
}

.replay {
    display: none;
}

.btn-secondary {
    text-align: left;
}

#question {
    text-align: left;

}

